<% if !@users.blank? %>
	<h1>Create a new post!</h1>

	<%= form_for @post, url: {action: "create"} do |f| %>

		<%= @post.errors.full_messages.join(",") %>

		<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>

		<%= select_tag "users", options_from_collection_for_select(@users, "id", "name") %>

		<%= f.submit "Create post" %>
	<% end %>
<% else %>
	<h1>No users present</h1>
<% end %>

<% if flash[:error] %>
	<div class="error"><%= flash[:error] %></div>
<% end %>